.cardmassa{
    width: 23rem;
    height: 13rem;
    background-color: black;
    margin: 0.5rem;

    h1{
        position: absolute;
        padding-left: 25rem;
        padding-top: 4rem;
        color: black;
    }
}

.seila{
  
}
