
body{
    background-image: url(/image/fundoinicial.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Arial";
}

.all-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 20rem;
    border-radius: 2rem;
    background-color: white;
    transition: all ease-in-out 0.9s;

}

.card:hover{
    scale: 1.15;
}

.content-inside{
    .img-content{
        img{

            width: 100%;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
        }
        
    }
}

h3{
    text-align: center;
}

h4{
    text-align: center;
    color: grey;
}

.button-buy{
    display: flex;
    justify-content: center;
    
    .btn-buy{
        background-color: #4bc4da;
        color: white;
        border: none;
        border-radius: 1rem;
        width: 8rem;
        height: 1.5rem;
        transition: all ease-in-out 1s;
        cursor: pointer;
        
    }
}

.btn-buy:hover{
    scale: 1.1;
    background-color: rgb(44, 139, 35);
}


