
body{
    background-image: url(../imagefundos/fundoinicial.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
}


#seta{
    transition: all ease-in-out 0.5s;
}

#seta:hover{
    scale: 1.4;
}

.all-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 22.5rem;
    margin-top: 5rem;
    border-radius: 2rem;
    box-shadow: 2px 4px 1px 2px;
    background-color: white;
    transition: all ease-in-out 0.5s;

}

.card:hover{
    scale: 1.15;
}

.content-inside{
    .img-content{
        img{

            width: 100%;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
        }
        
    }
}

h3{
    text-align: center;
}

h4{
    text-align: center;
    color: grey;
}

.button-buy{
    display: flex;
    justify-content: center;
    
    .btn-buy{
        background-color: #4bc4da;
        color: white;
        border: none;
        border-radius: 1rem;
        width: 8rem;
        height: 1.5rem;
        transition: all ease-in-out 1s;
        cursor: pointer
    }
}

.btn-buy:hover{
    scale: 1.1;
    background-color: #A8D2A0;
}

.fundosobrenos{
    background-color: white;
    opacity: 90%;
    padding: 1rem;
    width: 110rem;
    height: 100%;
    border-radius: 2rem;
  
    
    #frase{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

        

    h1{
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(0, 0, 0);
        
        
    }

    h3{
        margin-left: 1rem;
        margin-top: -0.5rem;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(0, 0, 0);
        
    }

}


.footer{
    width: auto;
    height: 15rem;
}
.footer-interior{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 12rem;

    h4{
        color: black;
    }

    a{
        text-decoration: none;
    }
}

.rede-social{
    margin-left: 1.5rem;
}

.titulocontatos{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;

}

.contatos{
    font-family: Arial, Helvetica, sans-serif;
}


