
body{
    background-image: url(../imagefundos/fundogelato.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
}

.todos-cards-produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-produtos{
    display: flex;
    justify-content: center;
    width: 20rem;
    margin-top: 5rem;
    border-radius: 2rem;
    box-shadow: 2px 4px 1px 2px;
    background-color: white;
    transition: all ease-in-out 0.5s;
   

}

.card-produtos:hover{
    scale: 1.15;
}

.button-buy{
    display: flex;
    justify-content: center;
    
    .btn-comprar{
        background-color: #4bc4da;
        color: white;
        border: none;
        border-radius: 1rem;
        width: 8rem;
        height: 1.5rem;
        transition: all ease-in-out 1s;
        cursor: pointer
    }
}

.btn-buy:hover{
    scale: 1.1;
    background-color: #A8D2A0;
}