@media only screen and (max-width: 600px){

  
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    
}
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a8d2a0;
}

.carrinho{
    width: 800px;
    height: min-content;
    background-color: white;
    padding: 35px;

    .cabecalho-carrinho{
        display: flex;
    }

    button{
        cursor: pointer;
        width: 40px;
        height: 40px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background:  #a8d2a0;
        border: 2px solid;
        border-radius: 0.5rem;
        transition: .4s;
    }

    button:hover{
        background: #4bc4da;

    }

    h3{
        margin: auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .carrinho-item{
        
        position: relative;
        width: 100%;
        margin: 30px 0;
        background: white;
        border-radius: 8px;
        box-shadow: 0px 4px 18px #669d6b;
    }

    .imagem{
        width: 60%;
        display: flex;
        align-items: center;
        background: white;
       
        
    }

    img{
        width: 90%;
        border-radius: 10px;
    }

    .info{
        width: 60%;
        background-color: #a8d2a0;
        padding: 14px;
        border-top-right-radius: 4rem;

        h4{
            font-family: Arial, Helvetica, sans-serif;
        }

        .preco{
            color: black;
            font-family: arial;
            font-size: 17px;
            margin-top: 8px;

            .contador{
                position: absolute;
                right: 15px;
                bottom: 0;

                i{
                    cursor: pointer;
                    width: 25px;
                    height: 35px;
                    font-family: arial;
                    font-size: 17px;
                    text-align: center;
                    line-height: 35px;
                    background: #a8d2a0;
                    color: white;
                    border-radius: 8px 8px 0 0;

                    span{
                        margin: 0 6px;

                    }

                }
            }

        }

    }

    .detalhes{
        display: flex;
        gap: 10px;

        i{
            font-size: 1rem;
        }

        span{
            font-family: arial;
            font-size: 17px;
            color: white;
        }
    }

   
}



