.footer{
    width: auto;
    height: 15rem;
}
.footer-interior{
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 15px;

    a{
        text-decoration: none;
    }
}

.rede-social{
    margin-left: 1.5rem;
    
}

.titulocontatos{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 
}

.contatos{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin: 1.5rem;

}