body{
    background-color: #629d6d;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.quadrado{

    height: 35rem;
    width: 70rem;
    background-color: #4bc4da;
    border-radius: 15px;
}

.informacao{
    width: 40rem;
    height: 7rem;
    background-color: white;
    margin: auto;
    margin-top: 1rem;
    border-radius: 15px;
    text-align: center;
    padding:0.5rem;
}


h3{
    margin-top: 7rem;
    margin-left: 1.5rem;
}


