@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@media only screen and (max-width: 1280px) {

    .escrita {
        h3 {
            font-size: 15px;
        }

    }
}






* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../imagefundos/fundogelato.png);
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 2rem;

}

.card-pginicial {
    width: 25rem;
    background-color: #F5F5F5;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.5s;
}

.card-pginicial:hover {
    scale: 1.1;
}

.card-content {
    padding: 2rem;

    .btn-card-pginicial {
        display: inline-block;
        padding: 8px 16px;
        background-color: #325037;
        color: white;
        text-decoration: none;
        border-radius: 15px;
        margin-top: 1rem;
    }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.fundosobrenos {
    background-image: url(../imagefundos/sobrenos.png);
    opacity: 90%;
    padding: 1rem;
    width: 80rem;
    height: 32rem;
    border-radius: 2rem;
}


/* daqui para baixo sera o css para o popup de exclusao de conta */


.container-excluir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;


    .fundo-excluir {
        width: 38rem;
        height: 36rem;
        background-color: white;
        border-radius: 15px;



        .titulo-excluir {
            display: flex;
            justify-content: center;
            margin: 1.5rem;

            .escrita-excluir {
                text-align: center;
                width: 22rem;
                height: 2.5rem;
                background-color: #A8D2A0;
                color: white;
                border-radius: 5px;
            }
        }

        .inf-excluir {
            margin: 3rem;

            input {
                text-decoration: none;
                width: 20rem;
                padding: 10px;
                outline: none;
                border: 1px solid black;
                border-radius: 5px;
                outline: none;
                font-size: 15px;

            }

            span{
                position: absolute;
                left: 6.5rem;
                padding: 7px;
                pointer-events: none;
                font-size: 0.8rem;
                text-transform: uppercase;
                transition: 0.5s;
            }

        }

        
        .botoes-excluir{
           
            .btn-excluir {
                margin: 0.5rem;
                width: 7rem;
                height: 2rem;
                text-decoration: none;
                background-color: red;
                color: white;
                border: solid 1px;
                border-radius: 5px;
                transition: all ease-in-out 0.7s;
            }
          
            .btn-excluir:hover {
                scale: 1.1;
            }
    
            .btn-esquecer-exclusao{
                width: 15rem;
                height: 2rem;
                text-decoration: none;
                background-color: #A8D2A0;
                color: white;
                border: solid 1px;
                border-radius: 5px;
                transition: all ease-in-out 0.7s;
            }

            .btn-esquecer-exclusao:hover{
                scale: 1.1;
            }

        }

    }
}

.inf-excluir input:valid~span,
.inf-excluir input:focus~span {
    color: #4bc4da;
    transform: translateX(10px) translateY(-18px);
    font-size: 0.7rem;
    padding: 0 10px;
    background: white;

}